---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import AboutComponent from "../components/AboutComponent.astro";

const description = `Page "À Propos" de Richalgue Mëi. 
Retrouvez ici tout ce qui me façonne : écriture, développement et plaisirs simples : 
voici ce qui me suffit à vivre au quotidien !`;
---

<Layout
  title="À propos"
  description={description}
  url="/about"
  index="index, follow"
>
  <div class="h-screen">
    <div class="h-1/4">
      <Navbar />
    </div>
    <div class="h-auto">
      <AboutComponent />
    </div>
    <div class="h-1/4">
      <Footer />
    </div>
  </div>
</Layout>
