<div class="h-full relative z-0 scroll-smooth">
  <div class="grid grid-rows-1 lg:grid-rows-2">
    <div
      class="flex justify-center my-3 mx-2 sm:mx-10 tracking-wide md:tracking-normal md:mx-0 lg:my-0 text-4xl sm:text-2xl md:text-4xl lg:text-5xl xl:text-7xl 2x:text-8xl"
    >
      <h1 class="text-center text-shadow-bottom-white">
        "Pourquoi devrait-on être conventionnel ?"
      </h1>
    </div>

    <h2
      class="text-pink mx-0 sm:mx-2 mt-3 lg:mt-5 2xl:mt-0 mb-10 font-creative text-4xl md:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl text-center text-shadow-bottom-white"
    >
      Richalgue Mëi
    </h2>
    <p
      class="text-text text-center font-bold text-lg mdtext-xl lg:text-3xl underline"
    >
      Ou l'aventure d'un anagramme
    </p>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 content-center bg-white p-3 rounded-xl font-sans mx-2 sm:mx-7 md:mx-10 xl:mx-24 my-10"
  >
    <div>
      <h2 class="font-creative text-3xl text-center my-2">Développeur :</h2>
      <div class="break-words mx-auto w-11/12 md:w-3/4">
        <p>
          Je manie l'ordinateur et le clavier depuis plus de 4 ans maintenant.
          Ayant débuté avec le web en Html et CSS, j'ai bifurqué vers le
          Javascript, un peu de bot discord, du GoLang, VLang très rapidement
          avant que les pointeurs ne me gonflent, je reviens ces derniers temps
          aux bases : javascript. ReactJS, NextJS, AstroJS (surtout AstroJS),
          bref le web !
        </p>
      </div>

      <h3 class="font-creative text-2xl text-center my-4">Maîtrise :</h3>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-4 mx-auto text-center w-11/12 md:w-3/4"
      >
        <p class="p-2 bg-pink rounded-3xl text-sm sm:text-base">Html</p>
        <p class="p-2 bg-pink rounded-3xl text-sm sm:text-base">Css</p>
        <p class="p-2 bg-pink rounded-3xl text-sm sm:text-base">JavaScript</p>
        <p class="p-2 bg-pink rounded-3xl text-sm sm:text-base">ReactJS</p>
        <p class="p-2 bg-pink rounded-3xl text-sm sm:text-base">AdonisJS</p>
      </div>
    </div>
    <div>
      <h2 class="font-creative text-3xl text-center my-2">Auteur :</h2>
      <div class="break-words mx-auto w-11/12 md:w-3/4">
        <p>
          Poèmes, romans, classiques, univers fantastiques : je suis avant tout
          un adorateur de littéraure, de livres, de BOUQINS ! J'adore les mots,
          les lettres, les syllabes. J'écris sur mon temps libre des poèmes,
          romans et d'autres petites histoires. J'adorerais être publié (comme
          3/4 des français) et finir comme Lautréamont (moins commun ça).
        </p>
      </div>

      <h3 class="font-creative text-2xl text-center my-2">Styles :</h3>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-4 mx-auto text-center w-11/12 md:w-3/4"
      >
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Poésie</p>
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Roman</p>
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Nouvelle</p>
      </div>
    </div>
    <div>
      <h2 class="font-creative text-3xl text-center my-2">Kiffeur :</h2>
      <div class="break-words mx-auto w-11/12 md:w-3/4">
        <p>
          Tout simplement, j'adore vivre ! Je m'extasie face à tout ce que le
          monde à a nous proposer ! Adepte de l'épicurisme, je tends à me
          satisfaire de peu, tout en sachant apprécier les bonnes choses pour ce
          qu'elles sont. L'art, l'architecture, l'histoire, nourriture, ... Tout
          ce qui peut titiller mes sens me plaît et je tends à expérimenter un
          max de trucs !
        </p>
      </div>

      <h3 class="font-creative text-2xl text-center my-2">Styles :</h3>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-4 mx-auto text-center w-11/12 md:w-3/4"
      >
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Culture</p>
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Art</p>
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Histoire</p>
        <p class="mx-4 p-2 my-2 bg-pink rounded-4xl">Méditation</p>
      </div>
    </div>
  </div>
</div>
