<div class="h-full relative z-0 scroll-smooth">
  <div class="grid grid-rows-1 lg:grid-rows-2">
    <div
      class="flex justify-center items-center my-10 lg:my-0 text-3xl sm:text-2xl md:text-4xl lg:text-5xl xl:text-7xl 2x:text-8xl"
    >
      <h1 class={` text-pink text-center text-shadow-bottom-white`}>
        "Pourquoi le web devrait-il être conventionnel ?"
      </h1>
    </div>

    <div class="mx-10 grid grid-cols-1 lg:grid-cols-2 mb-5">
      <div class="">
        <p
          class={`text-6xl md:text-7xl lg:text-9xl text-center lg:text-block mb-10 text-pink font-creative`}
        >
          M@€L C'Web
        </p>
      </div>
      <div class="break-words p-5 border-2 rounded-4xl">
        <p class={`font-sans text-text text-lg xl:text-xl tracking-wide`}>
          Je suis un{" "}
          <span class="underline text-lavander">jeune développeur</span>{" "}
          passionné par le web, le design et tout ce qui gravite autour du https
          !
          <br />
          Pour moi, le WWWW (What Would Woom) est un grand terrain de jeu, un bac
          à sable dans lequel je peux balancer un grand coup de pied à volonté !
          <br />
          <span class={`text-lavander text-shadow-bottom-skyblue text-4xl`}>
            Tout n'est que beauté !
          </span>
          <br />
          <br />
          Après m'être intéressé à l'informatique, je me suis rapidement tourné vers
          le web et le design, notamment avec{" "}
          <span class="underline text-lavander">Html</span>,
          <span class="underline text-lavander">CSS</span>,{" "}
          <span class="underline text-lavander">javascript</span>, des framworks
          comme{" "}
          <span class="underline text-lavander">ReactJS</span> et{" "}
          <span class="underline text-lavander">NextJS</span> couplés à{" "}
          <span class="underline text-lavander">TailwindCSS</span>.
        </p>
      </div>
    </div>
  </div>
</div>
