---

---

<div class="flex justify-center items-center h-full" id="container">
  <main>
    <section class="font-creative" id="hero">
      <h1
        class="text-4xl md:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl text-pink"
      >
        Richalgue Mëi
      </h1>
      <p class="my-5 text-xl lg:text-3xl text-white">
        transofme le web en quelque chose de
      </p>
      <h2
        class="text-pink text-5xl lg:text-7xl xl:text-9xl text-right text-shadow-bottom-white"
      >
        FUN
      </h2>
      <a
        class="p-2 sm:p-3 md:p-5 bg-text rounded-4xl text-xl lg:text-3xl font-sans duration-200 hover:bg-pink"
        href="/about">En savoir plus</a
      >
    </section>
  </main>
</div>
