---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="" id="container">
  <main>
    <section id="hero">
      <h1>Hello</h1>
    </section>
  </main>
</div>
