---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/avatar.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{import.meta.env.WEBSITE}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }

  body {
    background: radial-gradient(
      125% 125% at 50% 90%,
      #6f00ff 10%,
      #3b0270 100%
    );
    background-attachment: fixed; /* 👈 garde l'effet en place */
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
